<div class="row">
  <div class="col s12 m6 l4 push-m3 push-l4">
    <div class="card-panel center">
      <h2>Login</h2>
      {{message}}
      <form method="POST" action="">
      <div>
        <label>username:</label> <input type="email" name="username"> 
      </div>
      <div>
        <label>password:</label> <input type="password" name="password"> 
      </div>
        <input class="btn-large" type="submit" value="Continue"> 
      </form>
    </div>
  </div>
</div>